
        .container {
             background-color: gray;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    width: 400px;
    border: 9px solid #0333;
    margin-top: 40px;
        }

        .voterstable {
            width:80%;
            border-collapse: collapse;
            margin-top: 30px;
            background: #ffffff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .voterstable th, .voterstable td {
            padding: 12px;
            text-align: center;
            border-bottom: 1px solid #ddd;
        }

        .voterstable th {
            background-color: #007bff;
            color: #ffffff;
        }

        .voterstable tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        .voterstable a {
            color: #007bff;
            text-decoration: none;
            padding: 5px;
        }

        .voterstable a:hover {
            text-decoration: underline;
        }

        .registervoter {
            border: 1px solid #ddd;
            background: #ffffff;
            margin-top: 30px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            width: 100%;
            max-width: 400px;
            margin: auto;
        }

        .registervoter h3 {
            color: #007bff;
            margin-bottom: 0.5rem;
            font-size: 24px;
        }

        .registervoter label {
            display: block;
            margin-bottom: 0px;
            font-weight: bold;
        }

        .registervoter input[type="text"],
        .registervoter input[type="number"] {
            width: calc(100% - 22px);
            height: 25px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin: 0px 0px 0px;
            padding: 0px;
        }

        .registervoter input[type="submit"] {
            background-color: #007bff;
            color: #ffffff;
            border: none;
            width: 100%;
            height: 40px;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
        }
        td{
            color: black;
        }

        .registervoter input[type="submit"]:hover {
            background-color: #0056b3;
            transform: scale(1.02);
        }

        .registervoter input[type="submit"]:active {
            background-color: #004494;
        }