
body{
    background-color: rgb(181, 219, 252);
        margin: 0;
        padding: 0;
        font-family:Arial, Helvetica, sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 100vh;
        min-width:400px;
        overflow-x: hidden;
       

}

.container {
    background-color: aliceblue;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    width: 400px;
    border: 1px solid #00a2dc;
    margin-top: 35px;
    height: max-content;
    
}

h1 {
    text-align: center;
    color: #fff;   
    margin: 8px 0px 5px;
    width: 100%;

  max-height: 125px;
}
h2{
    text-align: center;
}
h4{
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0.5rem;
}
article{
    text-align: center;
    color: #333;
    margin-bottom: 0.5em;
    font-size: 35px;
    font-weight: bolder;
    
}
.heading{
    width: 900px; 
    min-width:400px ;
     max-height:150px ; 
    
}

label {
    display: block;
    margin-bottom: 0.1em;
    font-weight: bold;
    color: #555;
}
input,
select,
textarea {
    width: 100%;
    padding: 0.75em;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1em;
    margin-top: 0.5em;
    margin-bottom: 1em;
}
textarea {
    resize: vertical;
    height: 50px;
}
button {
    width: max-content;
    padding: 0.75em;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover{ 
    background-color:rgb(114, 114, 187);
}
.Navbar{
    background-color:#1f6fff;
    width: 100%;
    display: flex;
    gap: 35px;
    height: 120px;

}

.items img{
    width: 100px;
    height: 100px;
    border-radius: 12760px;
    padding: 10px;
    margin-left: 30%;
    display: block;
}
a{
    text-decoration: none;
}
 .sign-up{
    float: right;
    width: max-content;
    padding: 0.75rem;
    background-color: #007bff;
    border-radius: 5px;

}
.sign-up a{
    color: white;
}
.error {
    color: red;
    font-size: 0.9em;
    display: block;
    margin-top: -10px;
    margin-bottom: 10px;
}